ATM_Simulator/Connected Services/ServiceReference1/ServiceATM.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:52159/ServiceATM.svc?xsd=xsd1" namespace="http://schemas.datacontract.org/2004/07/DBModels" />
  <xs:element name="GetATMByCode">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="atmCode" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetATMByCodeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/DBModels" minOccurs="0" name="GetATMByCodeResult" nillable="true" type="q1:ATM" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddATM">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/DBModels" minOccurs="0" name="atm" nillable="true" type="q2:ATM" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddATMResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetManagerById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="managerId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetManagerByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/DBModels" minOccurs="0" name="GetManagerByIdResult" nillable="true" type="q3:Manager" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddManager">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/DBModels" minOccurs="0" name="manager" nillable="true" type="q4:Manager" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddManagerResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAccountByNum">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="accountNum" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAccountByNumResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/DBModels" minOccurs="0" name="GetAccountByNumResult" nillable="true" type="q5:Account" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddClient">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/DBModels" minOccurs="0" name="client" nillable="true" type="q6:Client" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddClientResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="AccountExist">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="accountNum" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AccountExistResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AccountExistResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetClientByItn">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="clientItn" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetClientByItnResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/DBModels" minOccurs="0" name="GetClientByItnResult" nillable="true" type="q7:Client" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddATMAccountAction">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/DBModels" minOccurs="0" name="action" nillable="true" type="q8:ATMAccountAction" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddATMAccountActionResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="AddATMManagerAction">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/DBModels" minOccurs="0" name="atmManagerAction" nillable="true" type="q9:ATMManagerAction" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddATMManagerActionResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="AddRegularPayment">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/DBModels" minOccurs="0" name="regularPayment" nillable="true" type="q10:RegularPayment" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddRegularPaymentResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveATM">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/DBModels" minOccurs="0" name="atm" nillable="true" type="q11:ATM" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveATMResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveAccount">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/DBModels" minOccurs="0" name="account" nillable="true" type="q12:Account" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveAccountResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRegularPayments">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="accountNum" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRegularPaymentsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/DBModels" minOccurs="0" name="GetRegularPaymentsResult" nillable="true" type="q13:ArrayOfRegularPayment" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllBlockedAccounts">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllBlockedAccountsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/DBModels" minOccurs="0" name="GetAllBlockedAccountsResult" nillable="true" type="q14:ArrayOfAccount" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteRegularPayment">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/DBModels" minOccurs="0" name="regularPayment" nillable="true" type="q15:RegularPayment" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteRegularPaymentResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllClients">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllClientsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/DBModels" minOccurs="0" name="GetAllClientsResult" nillable="true" type="q16:ArrayOfClient" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllATMs">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllATMsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/DBModels" minOccurs="0" name="GetAllATMsResult" nillable="true" type="q17:ArrayOfATM" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllManagers">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllManagersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/DBModels" minOccurs="0" name="GetAllManagersResult" nillable="true" type="q18:ArrayOfManager" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="WithdrawMoney">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/DBModels" minOccurs="0" name="account" nillable="true" type="q19:Account" />
        <xs:element minOccurs="0" name="sum" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="WithdrawMoneyResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="WithdrawMoneyResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TransferMoney">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/DBModels" minOccurs="0" name="sourceAccount" nillable="true" type="q20:Account" />
        <xs:element xmlns:q21="http://schemas.datacontract.org/2004/07/DBModels" minOccurs="0" name="destinationAccount" nillable="true" type="q21:Account" />
        <xs:element minOccurs="0" name="sum" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TransferMoneyResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="TransferMoneyResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>